.outer{
  height: 100%;
  background:linear-gradient(to top,white 20%,#ae01a0 95%)no-repeat;
}
.panel-heading{
  text-align: center;
  margin-bottom: 10px;
}
#forget{
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}
a.hover{
  text-decoration: none;
}
.form-inline label{
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.btn{
  margin-top: 20px;
  border-radius: 15px;
  background-color:#ae01a0 ;
  border-color: #ae01a0;
  transition: 1s;
}
.btn:hover{
  background-color: #d70dc6;
}
.panel{
  min-height: 380px;
  box-shadow: 20px 20px 80px rgb(218,218,218);
  border-radius: 12px;
  margin-top: 100px;
  margin-bottom: 100px;

}
.form-check-input:checked {
  background-color: #d70dc6;
  border-color: #d70dc6;
  box-shadow: 0 0 0 1px rgba(215, 13, 198, 0.5);

}
.input-field{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #d70dc6;
  margin-bottom: 1%;

}
.input-field.error{
  border: 1px solid red;
  color: red;
}
div.error{
  border: 1px solid red;
  color: red;
}
input[type="text"],
input[type="password"]{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.fa-eye-slas.btn{
  border: none;
  outline: none;
  box-shadow: none;
}
img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
#imaRacun{
  color:#ae01a0;
  transition: 1s;
}
#imaRacun:hover{
  color: #d70dc6;
}
.kontaktOsoba{
  border: 1px solid rgba(51, 51, 51, 0.1);

}


ul {
  width:22.8%;
  margin-left: -0.3%;
  list-style-type: none;
  padding: 0;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  overflow: auto;
}



li {

  cursor: pointer;
  font-size: 16px;
  font-family: Arial;
}

li:hover {
  background-color: #f1f1f1;
}

input:focus + ul {
  display: block;
}
.lokacija{

  border-radius: 5px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #d70dc6;

}
